<!doctype html>
<html ng-app="hovaApp">
<head>
    <!--
    <script src="http://code.angularjs.org/1.4.8/angular.min.js"></script>
    -->
    <script src="js/angular.min.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body ng-controller="hovaCtrl">

<div ng-repeat="content in dynamicContents">
    <div ng-if="content.type=='select'" name="{{content.type}}">
        <select  name="{{content.name}}" ng-change="buildNext(selectItem[$index])" ng-model="selectItem[$index]">
            <option  ng-repeat="c in content.conditons" value="{{c.value}}-{{$index}}">
                {{c.name}}
            </option>
        </select>
    </div>
    <div ng-if="content.type=='input'" name="{{content.type}}">
        <input ng-model="inputItem[$index]" name="{{content.name}}" value="{{content.value}}"/>
    </div>
</div>
<input type="button" value="go!" ng-click="go()"/>
<textarea rows="20" cols="100" ng-model="hql"/>
</body>
</html>